<!doctype html>
<title>Image Captioning Madagascar</title>
<center>
	<div>
		<h2>Select a file to be captioned</h2>
		<form method="post" action="/" enctype="multipart/form-data">
			<input type="file" name="file" autocomplete="off" required><input type="submit" value="Generate description"/>
		</form>
	</div>
	<div>
		{% if filename %}
			<div><img src="{{ url_for('display_image', filename=filename) }}"></div>
		{% endif %}
		{{ description_gen }}
	</div>
</center>